<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-md="8" size-lg="6">
        <ion-segment (ionChange)="onSegmentChanged($event)" value="drafts">
          <ion-segment-button value="drafts">
            <ion-label>Drafts</ion-label>
          </ion-segment-button>
          <ion-segment-button value="reports">
            <ion-label>Reports</ion-label>
          </ion-segment-button>
        </ion-segment>

        <ng-container *ngIf="segment === 'drafts'">
          <ion-list>
            <ion-list-header>Drafts</ion-list-header>
            <ion-item (click)="createNewDraft()" [button]="true" [detail]="true">
              <ion-icon name="add-circle-outline" slot="start" color="primary"></ion-icon>
              <ion-label>
                <h3>Create New</h3>
                <p>Upload some media to get started</p>
              </ion-label>
            </ion-item>
            <ion-item *ngFor="let draft of drafts" (click)="updateDraft(draft)" [detail]="true">
              <ion-icon name="list-circle-outline" slot="start"></ion-icon>
              <ion-label>
                <h3>{{draft.location | camelcaseToTitlecase}}</h3>
                <p class="status">
                  <ion-text [color]="draft.status === 'completed' ? 'success' : 'warning'"
                    ><ion-text color="medium">Status: </ion-text><span>{{draft.status | titlecase}}</span></ion-text
                  >
                  <ion-icon
                    slot="start"
                    [name]="draft.status === 'completed' ? 'checkmark-circle-outline' : 'reader-outline'"
                    [color]="draft.status === 'completed' ? 'success' : 'warning'"
                  ></ion-icon>
                </p>
                <p>Created At: {{draft.createdAt | firestoreTimestamp }}</p>
                <p>Updated At: {{draft.updatedAt | firestoreTimestamp }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ng-container>

        <ng-container *ngIf="segment === 'reports'">
          <ion-list>
            <ion-list-header>Reports</ion-list-header>
            <ion-item *ngFor="let report of reports" (click)="viewReport(report)" [detail]="true">
              <ion-icon name="list-circle-outline" slot="start"></ion-icon>
              <ion-label>
                <h3>{{report.location | camelcaseToTitlecase}}</h3>
                <p class="status">
                  <ion-text color="success"
                    ><ion-text color="medium">Status: </ion-text><span>{{report.status | titlecase}}</span></ion-text
                  >
                  <ion-icon name="checkmark-circle-outline" slot="start" color="success"></ion-icon>
                </p>
                <p>Created At: {{report.createdAt | firestoreTimestamp }}</p>
                <p>Updated At: {{report.updatedAt | firestoreTimestamp }}</p>
              </ion-label>
            </ion-item>
            <ion-item *ngIf="reports.length === 0">
              <ion-label>
                <h3>No reports found.</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
